{% extends 'record/base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'record/css/style.css' %}" />
<div class="col-md-8">
  <h1>STEP2</h1>
</div>
<br>
<form action="{% url 'game_step2' %}" method="POST" class="post-form">{% csrf_token %}
<div>
    <table>
      <tr>
        <td>
          {{ form.rival.errors }}
          <label for="{{ form.rival.id_for_label">Rival</label>
        </td>
        <td>
          {{ form.rival }}{{ form.rival_name.value }}
        </td>
      </tr>
      <tr>
        <td>
          <label for="{{ form.game_date.id_for_label">Game Date</label>
        </td>
        <td>
          {{ form.game_date.value }}
        </td>
      </tr>
      <tr>
        <td>
          <label for="{{ form.field.id_for_label">Field</label>
        </td>
        <td>
          {{ form.field.value }}
        </td>
      </tr>
      <tr>
        <td>
          <label for="{{ form.remark.id_for_label">Remark</label>
        </td>
        <td>
          {{ form.remark }}
        </td>
      </tr>
    </table>
</div>
<br>
<div class="col-md-8">
  <h1>GAME RESULT</h1>
</div>
<br>

<div class="table table-bordered table-hover table-responsive">
    <table>
      <tr>
        <td>
        </td>
        <td>
          Kickers
        </td>
        <td>
        </td>
        <td>
          {{ form.rival_name.value }}
        </td>
        <td>
        </td>
      </tr>
      <tr>
        <td>
        </td>
        <td>
          <p>{{ form.point_gain }}</p>
        </td>
        <td>
          <p>-</p>
        </td>
        <td>
          <p>{{ form.point_reduce }}</p>
        </td>
        <td>
        </td>
      </tr>
    </table>
</div>
<br>

<div class="col-md-8">
  <span class="h1">INDIVIDUAL STATS　</span><span class="h1"><img src="/static/admin/img/icon-addlink.svg" alt="追加"/></span>
</div>
<div class="table table-bordered table-hover table-responsive">
    <table>
      <tr>
        <td>
          Player
        </td>
        <td>
          Goal
        </td>
        <td>
          Assist
        </td>
      </tr>
      <tr>
        <td>
          <p>{{ form.point_gain }}</p>
        </td>
        <td>
          <p>{{ form.point_reduce }}</p>
        </td>
        <td>
          <p>{{ form.point_reduce }}</p>
        </td>
      </tr>
    </table>
</div>
<br>
<div class="col-md-8">
  <button type="submit" name="next" class="btn btn-primary">Save</button>
</div>
</form>
{% endblock content %}
