{% extends 'record/base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'record/css/style.css' %}" />
<div class="col-md-8">
  <h1>GAME INPUT</h1>
</div>
<br>
<form action="{% url 'game_new' %}" method="POST" class="post-form">{% csrf_token %}
<div>
    <table>
      <tr>
        <td>
          {{ gameform.rival.errors }}
          <label for="{{ gameform.rival.id_for_label">Rival</label>
        </td>
        <td>
          {{ gameform.rival }}
        </td>
      </tr>
      <tr>
        <td>
          {{ gameform.game_date.errors }}
          <label for="{{ gameform.game_date.id_for_label">Game Date</label>
        </td>
        <td>
          {{ gameform.game_date }}
        </td>
      </tr>
      <tr>
        <td>
          {{ gameform.field.errors }}
          <label for="{{ gameform.field.id_for_label">Field</label>
        </td>
        <td>
          {{ gameform.field }}
        </td>
      </tr>
      <tr>
        <td>
          {{ gameform.remark.errors }}
          <label for="{{ gameform.remark.id_for_label">Remark</label>
        </td>
        <td>
          {{ gameform.remark }}
        </td>
      </tr>
    </table>
</div>
<br>
<div class="col-md-8">
  <h1>GAME RESULT</h1>
</div>
<br>

<div class="table table-bordered table-hover table-responsive">
    <table>
      <tr>
        <td>
        </td>
        <td>
          Kickers
        </td>
        <td>
        </td>
        <td>
          対戦相手
        </td>
        <td>
        </td>
      </tr>
      <tr>
        <td>
        </td>
        <td>
          <p>{{ gameform.point_gain }}</p>
        </td>
        <td>
          <p>-</p>
        </td>
        <td>
          <p>{{ gameform.point_reduce }}</p>
        </td>
        <td>
        </td>
      </tr>
    </table>
</div>
<br>

<div class="col-md-8">
  <span class="h1">INDIVIDUAL STATS　</span><span class="h1"><img src="/static/admin/img/icon-addlink.svg" alt="追加"/></span>
<button type="submit" name="add_form" class="btn btn-primary">Add</button>
</div>
{{ statsform.management_form }}
<table class="table table-bordered table-hover table-responsive">
  {% for stats in statsform %}
    {% if forloop.first %}
      <tr>
        {% for field in stats.visible_fields %}
          <th>{{ field.label }}</th>
        {% endfor %}
      </tr>
    {% endif %}
    <tr>
      <td>{{ stats.player }}{{ forloop.counter0 }}<a href="javascript:void(0);" onclick="window.open('{% url 'game_new_player' form_id=forloop.counter0 %}','subwin','width=500,height=500');">+</a</td>
      <td>{{ stats.goals }}</td>
      <td>{{ stats.assists }}</td>
      <td>{{ stats.DELETE }}</td>
    </tr>
  {% endfor %}
</table>

<br>
<div class="col-md-8">
  <button type="submit" name="Save" class="btn btn-primary">Save</button>
</div>
</form>

<script>
  $('#id_game_date').datetimepicker({
      format: 'yyyy-mm-dd HH:mm:ss',
      uiLibrary: 'bootstrap4'
  });

  function add_player(name, pk, form_id){
    var select_id = 'id_game-' + form_id + '-player'
    var select = document.getElementById(select_id);
    // <option value="pk">選択肢名</option> をつくる
    var option = document.createElement('option');
    option.setAttribute('value', pk);
    option.innerHTML = name;
    
    // カテゴリの先頭に追加し、選択済みにする
    select.add(option,0);
    select.options[0].selected= true;
    
    // ほかのコンボにも追加する
    var selects = document.getElementsByName()
    
  }
</script>
{% endblock content %}
