{% extends 'record/base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'record/css/style.css' %}" />
<div class="col-md-8">
  <h1>GAME INPUT</h1>
</div>
<br>
<form action="{% url 'game_new' %}" method="POST" class="post-form">{% csrf_token %}
<div>
    <table>
      <tr>
        <td>
          {{ gameform.rival.errors }}
          <label for="{{ gameform.rival.id_for_label">Rival</label>
        </td>
        <td>
          {{ gameform.rival }}
        </td>
      </tr>
      <tr>
        <td>
          {{ gameform.game_date.errors }}
          <label for="{{ gameform.game_date.id_for_label">Game Date</label>
        </td>
        <td>
          {{ gameform.game_date }}
        </td>
      </tr>
      <tr>
        <td>
          {{ gameform.field.errors }}
          <label for="{{ gameform.field.id_for_label">Field</label>
        </td>
        <td>
          {{ gameform.field }}
        </td>
      </tr>
      <tr>
        <td>
          {{ gameform.remark.errors }}
          <label for="{{ gameform.remark.id_for_label">Remark</label>
        </td>
        <td>
          {{ gameform.remark }}
        </td>
      </tr>
    </table>
</div>
<br>
<div class="col-md-8">
  <h1>GAME RESULT</h1>
</div>
<br>

<div class="table table-bordered table-hover table-responsive">
    <table>
      <tr>
        <td>
        </td>
        <td>
          Kickers
        </td>
        <td>
        </td>
        <td>
          対戦相手
        </td>
        <td>
        </td>
      </tr>
      <tr>
        <td>
        </td>
        <td>
          <p>{{ gameform.point_gain }}</p>
        </td>
        <td>
          <p>-</p>
        </td>
        <td>
          <p>{{ gameform.point_reduce }}</p>
        </td>
        <td>
        </td>
      </tr>
    </table>
</div>
<br>

<div class="col-md-8">
  <span class="h1">INDIVIDUAL STATS　</span><span class="h1"><img src="/static/admin/img/icon-addlink.svg" alt="追加"/></span>
<button type="submit" name="add_form" class="btn btn-primary">Add</button>
</div>
{{ statsform.management_form }}
<table class="table table-bordered table-hover table-responsive">
  {% for stats in statsform %}
    {% if forloop.first %}
      <tr>
        {% for field in stats.visible_fields %}
          <th>{{ field.label }}</th>
        {% endfor %}
      </tr>
    {% endif %}
    <tr>
      {% for field in stats.visible_fields %}
        <td>{{ field }}</td>
      {% endfor %}
    </tr>
  {% endfor %}
</table>

<br>
<div class="col-md-8">
  <button type="submit" name="Save" class="btn btn-primary">Save</button>
</div>
</form>

<script>
  $('#id_game_date').datetimepicker({
      format: 'yyyy-mm-dd HH:mm:ss',
      uiLibrary: 'bootstrap4'
  });
</script>
{% endblock content %}
